*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 15px;
    font-family: 'Comfortaa', cursive;

}

body{
    background-color: pink;
}

.container{
    width: 580px;
    margin: 0 auto;

    padding-block: 4.5em;

    margin-top: 5em;
    box-shadow: 7px 7px 10px grey;

    background-color: white;

    border-radius: 18px;

}

.top-button-container{
    width: 64.5%;
    margin: 0 auto;

    margin-block: 2em;
}

.bottom-button-container{
    margin: 0 auto;
    width: 95.9%;
}

.btn1{
    width: 8em;
    height: 2.5em;

    background-color: black;
    color: white;
    font-weight: bold;
}


.btn2{
    width: 12em;
    height: 3em;

    background-color: rgb(17, 192, 255);
    border: 1px solid rgb(17, 192, 255);
    
    border-radius: 7px;

    color: white;
    font-weight: bold;
}


/* Click Event */
.btn1-change{
    background-color: orange;
    border: 1px solid orange;
}

.btn2-change{
    background-color: palevioletred;
    border: 1px solid palevioletred; 
}

.btn3-change{
    background-color: rgb(59, 88, 255);
    border: 1px solid rgb(59, 88, 255);; 
}


/* Other Stuff */
hr{
    margin-top: 1.5em;
}

.container-2{
    display: flex;
    flex-direction: column;
}

.hello-world-container p {
    text-align: center;
    font-size: 32px;

    font-weight: bold;

    margin-top: 0.5em;
}

.click-me-container button{
    font-size: 18px;
    width: 6em;
    height: 2.5em;

    background-color: green;
    border: 3.5px solid rgb(16, 251, 16);

    font-weight: bold;
    color: white;

    border-radius: 7px;
}

.click-me-container{
    width: 112px;
    margin: 0 auto;

    margin-top: 0.5em;
}
